body, html {
    margin: 0;
}

body {
    background-image: url("pictures/road-asphalt-space-sky.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    font-size: 11pt;
    color: #404040;
}

table {
    font-size: 11pt;
    border-spacing: 10px;
    table-layout: auto;
}

#whiteblock {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 80px 0px 80px 0px;
    height: 400px;
}

#block {
    margin: 0px 100px 0px 100px;
}

#navblock {
    width: 1024px;
    border: 2px solid #404040;
}

#blockleft {
    float: left;
    width: 516px;
    margin: 15px 0px 15px 0px;
}

#blockright {
    float: right;
    width: 516px;
    margin: 15px 0px 15px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12pt;
}

li {
    float: left;
}

li a {
    display: block;
    color: #404040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4286f4;
    color: white;
}

input {
    border: 2px solid #404040;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
}

#dropdown {
    width: 100%;
    border: 2px solid #404040;
}

#pricerange {
    width: 100%;

}

.button {
    width: 150px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #404040;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.error {
    color: #cc0000;
}